@use "../../style-library/all-vars" as vars;

.footer{
	padding: vars.$block-spacing 0;
	background-repeat: repeat;
	position: relative;
	border-top: 1px solid var(--color-accent);
	&__line{
		width: 100%;
		display: flex;
		justify-content: center;
		z-index: 1;
		position: relative;
		p{
			padding: .5em 1em .65em 1em;
			display: inline;
			border-radius: .4em;
			@extend %text-blocky;
			text-align: center;
			margin-bottom: 0;
			color: var(--color-foreground);
		}
	}
	@media print{
		background-image: none;
	}
}
