@use "../../style-library/all-vars" as vars;


.sideFurniture{
	@include vars.break(tablet){
		align-items: center;
		width: 10px;
		gap: 4rem;
		height: 100%;
		position: absolute;
		right: calc(8vw - 8px);
		top: 0;
		height: calc(100% + 8rem);
	}
	&__profile{
		img{
			position: relative;
			bottom: 0;
			right: 0;
			aspect-ratio: 1/1;
			width: 150px;
			height: 150px;
			object-fit: cover;
			clip-path: polygon(
				50% 0%,
				100% 50%,
				50% 100%,
				0% 50%
			);
			border-radius: 8px;
		}
	}
}
