@use "../../style-library/all-vars" as vars;

.verticalDots{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	&__dot{
		width: 10px;
		height: 10px;
		fill: var(--color-accent);
		position: relative;
		transform: translateX(50%);
	}
}