@use "../../style-library/all-vars" as vars;

$gap: clamp(.8rem, 2vw, 1.2rem);

.workSamples{
	position: relative;
	@media print{
		display: none;
	}
	&__titleSection{
		position: relative;
		border-radius: 6px;
		padding: .6em 1em;
		border-radius: 2px;
		text-align: center;
		z-index: 1;
		h2{
			margin-bottom: 0;
			text-align: center;
			display: inline-block;
			@extend %text-heading--chunky;
			padding-top: 2em;
			padding-bottom: 1em;
		}
	}

	&__main{
		width: 100%;
		position: relative;
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		gap: $gap;
		z-index: 1;
		overflow-x: hidden;
	}

	&__strip{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $gap;
		position: relative;
		user-select: none;
		width: 100vw;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.browserDesktop, .browserMobile{
	position: relative;	height: 100%;
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
	@include vars.light-mode-wrapper{
		box-shadow: none;
	}
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	width: auto;
	min-height: 16rem;
	max-height: 20rem;
	svg{
		height: 100%;
		width: 100%;
	}
}

.browserDesktop{
	aspect-ratio: 40/28;
}
.browserMobile{
	aspect-ratio: 14.2/28;
}

.progressBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	width: 100%;
	background: red;
	transform-origin: 0%;
	z-index: 4;
  }