@use "../../style-library/all-vars" as vars;

.cards{
	$gridGap: clamp(1rem, 5vw, 100px);
	&__grid{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		padding-left: vars.$gutter-padding;
		padding-right: vars.$gutter-padding;
		@include vars.break(tablet){
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			gap: $gridGap;
		}
		&__card{
			position: relative;
			&::before{
				content: '';
				background-color: var(--color-accent-alt-50);
				display: block;
				position: absolute;
				width: 1px;
				height: 2rem;
				bottom: -2rem;
				right: 50%;
				@include vars.break(tablet){
					width: $gridGap;
					height: 1px;
					top: 50%;
					right: 0;
					transform: translate(100%);
				}
			}
			&:last-child{
				&::before{
					display: none;
				}
			}
		}
	}
}

.card{
	position: relative;
	border: .5px solid var(--color-accent-alt-50);
	padding: 1rem;
	padding-bottom: 2rem;
	&__image{
		width: 100%;
		height: auto;
	}
	&__header{
		margin-top: .4em;
		margin-bottom: .4em;
		a{
			@extend %text-heading;
			gap: .1em;
			align-items: baseline;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		svg{
			height: .7em;
			width: auto;
			padding-left: .2em;
		}
	}
	&__content{
		padding: 1rem;
	}
	&__description{
		@extend %text-tiny;
	}
}