@use "../../style-library/all-vars" as vars;

.clients{
	@include vars.svgColor(var(--color-foreground));
	width: 100%;
	@include vars.break(tablet){
		padding-top: vars.$block-spacing--shallow;
		padding-bottom: vars.$block-spacing--shallow;
	}
	.logos{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3rem;
		align-items: baseline;
	}
	.logos_line{
		display: flex;
		flex-direction: row;
		gap: 3rem;
		align-items: baseline;
		flex-wrap: wrap;
	}
	.logo_nao{
		position: relative;
		top: 5px;
	}
	@media print{
		display: none;
	}
}