@use "../../style-library/all-vars" as vars;

.sign_off{
	position: relative;
	background-size: auto;
	background-repeat: repeat;
	p{
		margin: 0;
		max-width: unset;
		@extend %text-display-small;
		text-align: center;
		color: var(--color-foreground);
		:global(body.light-mode) &{
			color: var(--color-accent);
		}
		@media print{
			color: var(--color-accent);
		}
		@include vars.break-under(tablet){
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
}