@use "../../style-library/all-vars" as vars;

.tile_container{
	position: relative;
	overflow: hidden;
}
.tile_grid{
	position: relative;
	display: grid;
	gap: 1rem;
	@include vars.break(desktop){
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
	}
	@include vars.break(desktop-med){
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include vars.break(desktop-wide){
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@media print{
		display: grid;
		grid-template-rows: auto;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
.tile{
	$indent: 18px;
	position: relative;
	height: auto;
	overflow: hidden;
	border-left: .5px solid var(--color-accent);
	border-bottom: .5px solid var(--color-accent);
	border-bottom-left-radius: 2px;
	&__inner{
		width: 100%;
		display: flex;
		position: relative;
		gap: 1rem;
		padding: 2rem;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		@include vars.break(desktop){
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}
	&__icon{
		width: 20%;
		flex-shrink: 0;
		@include vars.break(desktop){
			aspect-ratio: 3/2;
			width: 100%;
		}
		:global(body.light-mode) &{
			display: none;
		}
		@media print{
			display: none;
		}
	}
	&__name{
		@extend %text-heading-small;
		text-align: left;
		margin-bottom: .5em;
	}
	&__description{
		@extend %text-tiny;
		text-align: left;
		margin-bottom: 0;
	}
	&_noicon{
		.tile__inner{
			:global(body.dark-mode) &{
				padding: 2rem;
			}
		}
	}
}