@use "../../style-library/all-vars" as vars;

.vennDiagram{
	display: flex;
	justify-content: center;
	&__inner{
		position: relative;
		display: block;
		height: auto;
		width: 80%;
		max-width: 300px;
	}
	&__textOverlay{
		position: absolute;
		top: 42%;
		left: 50%;
		width: 130px;
		transform: translateX(-50%);
		@extend %text-miniscule;
		display: flex;
		flex-direction: column;
		align-items: center;
		span{
			color: var(--color-accent-alt);
			text-align: center;
			padding: .3em;
			display: block;
			@include vars.light-mode-wrapper{
				background-color: var(--color-bg-alt);
			}
			padding: .5em .8em;
			&.loopingText{
				color: var(--color-foreground);
			}
		}
	}
	svg{
		width: 100%;
		height: auto;
		text{
			@extend %text-miniscule;
		}
		circle{
			fill: none!important;
		}
	}
}