@use "../../../assets/styles/style-library/all-vars" as vars;

.hero{
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: vars.$block-spacing--deep;
}

.hero__mainSection {
	flex-grow: 1;
	position: relative;
	border-bottom: 1px solid;
	border-image: linear-gradient(90deg, var(--color-accent) 90%, var(--color-accent-alt) 90%) 1;
	display: flex;
	flex-direction: column;
	&__inner{
		z-index: 1;
		position: relative;
		padding-top: clamp(10rem, 15vw, 17rem);
		padding-bottom: clamp(10rem, 15vw, 17rem);
		@include vars.break(tablet){
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-grow: 1;
		}
		@media print{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	@media print{
		background-image: none;
	}
	&__message{
		flex-grow: 1;
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 0;
		max-width: unset;
		@media print{
			padding-top: 1em;
			padding-bottom: vars.$block-spacing--shallow;
		}
		&__main{
			@extend %text-display;
			display: block;
			padding-top: .1em;
			padding-bottom: .3em;
			@media (prefers-color-scheme: light){
				color: var(--color-foreground);
			}
			span{
				color: var(--color-accent-alt);
			}
		}
		&__sub{
			display: block;
			@extend %text-medium;
		}
	}
}
.hero__profile{
	position: absolute;
	bottom: 0;
	right: 15%;
	transform: translate(50%, 50%);
	z-index: 1;
}
.hero__footSection{
	height: auto;
	&__inner{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
		@media print{
			padding-top: 1em;
			gap: .8em;
		}
	}
	&__intro{
		padding-top: 3rem;
		display: flex;
		flex-direction: column;
		gap: 1em;
		width: 100%;
		@include vars.break(tablet){
			padding-right: calc(8vw + 8rem);
			align-items: flex-start;
			justify-content: space-between;
		}
		&__main{
			max-width: unset;
			margin-bottom: 0;
			flex-shrink: 1;
			padding-right: calc(8vw + 8rem);
			@include vars.break(tablet){
				padding-right: unset;
			}
			p{
				max-width: unset;
				margin-bottom: 0;
			}
		}
		a{
			font-size: inherit;
			white-space: nowrap;
			@media print{
				display: none;
			}
		}
	}
	&__contacts{
		flex-shrink: 1;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem 2rem;
		flex-direction: row;
		position: relative;
		&:first-of-type{
			padding-left: 0;
			border-left: 0;
		}
		@include vars.break(tablet){
			flex-direction: column;
		}
		@include vars.break(desktop){
			flex-direction: row;
		}
	}
}
