:root{
	--color-foreground: #ffffff;
	--color-accent: #9AF3FF;
	--color-accent-dark: #14AABF;
	--color-accent-alt: #FFAAAA;
	--color-bg: #141414;
	--color-bg-alt: #000000;
	--color-feint-line: rgb(255, 255, 255, 0.2);
}