@import url("https://use.typekit.net/sqv3apk.css");

// Eventually replace std with DM sans
:root{
	--font-std: "degular-text", sans-serif;
	--font-medium: "degular-text", sans-serif;
	--font-display: "degular-display", sans-serif;
	--font-blocky: "DM Mono", monospace;
	--font-size-regular: 1.6rem;
	--font-size-small: 1.4rem;
	--font-size-display: 6.4rem;
	--font-size-display-small: 4rem;
	--font-size-display-responsive: clamp(2.8rem, 8vw, 10.2rem);
	--font-size-display-small-responsive: clamp(2.2rem, 4vw, 4.6rem);
}

@mixin text-medium{
	font-family: var(--font-medium);
	font-weight: 500;
	font-style: normal;
}
@mixin text-display{
	font-family: var(--font-display);
	font-style: normal;
	font-size: clamp(2.8rem, 8vw, 10.2rem);
}
@mixin text-display-small{
	font-family: var(--font-display);
	font-style: normal;
	font-size: clamp(2.2rem, 4vw, 4.6rem);
}
@mixin text-body{
	font-family: var(--font-std);
	font-style: normal;
}
@mixin text-blocky{
	font-family: var(--font-blocky);
	font-style: normal;
	text-transform: uppercase;
	font-size: 1.4rem;
}
@mixin text-section-title{
	font-family: var(--font-medium);
	font-style: normal;
	font-size: 2.8rem;
}