.hero{
	background-color: var(--color-bg);
}

.hero__inner{
	position: relative;
	padding-top: calc(var(--block-spacing)*3);
	padding-bottom: calc(var(--block-spacing)*3);
}

.hero__message{
	font-size: var(--font-size-display-responsive);
	font-family: "degular-display", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.hero__message__main{
	margin-bottom: .6em;
}

.hero__message__sub{
	font-size: var(--font-size-display-small-responsive);
}

.hero__links{
	display: flex;
	gap: 1em;
}