@use "../../../assets/styles/all-vars" as *;

.skills_abilities{
	padding-top: $block-spacing--shallow;
	padding-bottom: $block-spacing;
	background-color: $color-bg;
	ul{
		margin-bottom: 0;
	}
	.inner{
		@include break(tablet){
			max-width: 400px;
			margin-left:4rem;
			max-width: unset;
			margin-left: unset;
			display: grid;
			gap: 6rem;
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.skills_list{
		@include break(tablet){
			grid-column: 1/3;
		}
	}
	.abilities_list{
		@include break(tablet){
			grid-column: 3/4;
		}
	}
	.skills_list, .abilities_list{
		list-style: none;
		padding: 0;
	}
	.skills_list{
		@include break(tablet){
			width: 100%;
			column-count: 2;
			column-gap: 6rem;
		}
		&__item{
			display: flex;
			gap: 1em;
			padding: .2em 0;
			@include text-blocky;
			&__name{
				width: 100%;
				flex-grow: 1;
				max-width: 15ch;
			}
			&__rating{
				color: $color-accent;
				width: 5ch;
				text-align: left;
				flex-shrink: 0;
			}
		}
	}
	.abilities_list{
		border-top: .5px solid $color-feint-line;
		padding-top: $block-spacing--shallow;
		margin-top: $block-spacing--shallow;
		margin-bottom: $block-spacing--shallow;
		@include break(tablet){
			grid-column: 3/4;
			border-top: unset;
			padding-top: unset;
			margin-top: unset;
			margin-bottom: unset;
		}
		&__item{
			display: flex;
			gap: 1em;
			padding: .2em 0;
			@include text-blocky;
			&__name{
				width: 100%;
				flex-grow: 1;
			}
		}
	}
}