@use "../../../assets/styles/all-vars" as *;

.skills_abilities{
	background-color: $color-bg;
}
.inner{
	padding-top: $block-spacing--shallow;
}
.skills_list{
	list-style: none;
	padding: 0;
	@include break(tablet){
		width: 100%;
		column-count: 3;
		column-gap: 6rem;
	}
	&__item{
		display: flex;
		gap: 1em;
		padding: .2em 0;
		@include text-blocky;
		&__name{
			width: 100%;
			flex-grow: 1;
			max-width: 15ch;
		}
		&__rating{
			color: $color-accent;
			width: 5ch;
			text-align: left;
			flex-shrink: 0;
		}
	}
}
.about_section{
	&__inner{
		display: flex;
		flex-direction: column;
		gap: $block-spacing;
		@include break(tablet){
			gap: $column-gap;
			flex-direction: row;
		}
		.col_1{
			flex: 1;
		}
		.col_2{
			flex: 2;
		}
	}
	.body_text{
		@include text-body;
	}
}
.diagram{
	display: flex;
	justify-content: flex-start;
	@include break(tablet){
		justify-content: center;
	}
}