@use '@/app/ui/style-library/global/tokens/mixins' as vars;

.carouselItem {
	&__graphic {
		height: 10rem;
		margin-bottom: var(--block-spacing--shallow);
		width: auto;
		display: flex;
		justify-content: flex-end;
		svg {
			height: 100%;
			width: auto;
		}
	}
	&__title {
		@include vars.text-heading--chunky;
		color: var(--color-accent-alt);
		align-items: center;
		margin-bottom: var(--block-spacing--text);
		span {
			display: inline-block;
		}
	}
	&__description {
		margin-bottom: var(--block-spacing--text);
		height: auto;
		min-height: 4lh;
		max-width: 50rem;
		p {
			margin-bottom: 0;
		}
	}
}
