[submodule "app/ui/style-library"]
	path = app/ui/style-library
	url = https://github.com/bazzle/br-web-style-library
[submodule "posts"]
	path = posts
	url = https://github.com/bazzle/thoughts-content
