.icon_glass{
	width: 46px;
	height: auto;
}
.icon_door{
	width: 46px;
	height: auto;
}
.icon_tag{
	width: 76px;
	height: auto;
	position: relative;
	top: -5px;
	right: -16px;
}
.icon_pieces{
	width: 72px;
	height: auto;
	position: relative;
	right: -6px;
}
.icon_mag_glass{
	width: 46px;
	height: auto;
	position: relative;
	right: -6px;
	bottom: -4px;
}
.icon_shapes{
	width: 64px;
	bottom: -8px;
	height: auto;
	position: relative;
}

.dark_mode_hide{
	visibility:hidden;
	:global(body.light-mode) &{
		visibility:visible;
	}
}
.dark_mode_nobg{
	:global(body.dark-mode) &{
		fill: none;
	}
}