.btc-sticker{
	position: absolute;
	top: clamp(-2rem, -4vw, -16rem);
	bottom: 0;
	right: 10%;
	min-width: 100px;
	max-width: 176px;
	width: 12vw;
	z-index: -1;
	display: block;
	transform: translate(0, 110%);
	svg{
		transform: rotate(4deg);
		width: 100%;
		height: auto;
	}
}