@use '@/app/assets/styles/all-vars.scss' as *;

.spacer{
	display: block;
    height: 1.5px;
	background-color: var(--color-ridged-line-shadow);
    border-bottom: .5px solid var(--color-ridged-line-light);
	margin-top: $block-spacing;
	margin-bottom: $block-spacing;
	@include break(tablet){
		margin-top: clamp(8rem, 12vw, 14rem);
		margin-bottom: clamp(8rem, 12vw, 14rem);
	}
	&_mobile{
		display: block;
		@include break(tablet){
			display: none;
		}
		@media print{
			display: none;
		}
	}
	&_nomobile{
		display: none;
		@include break(tablet){
			display: block;
		}
	}
	&_shallow{
		@include break(tablet){
			margin-top: $block-spacing--shallow;
			margin-bottom: $block-spacing--shallow;
		}
	}
	&_noline{
		background-color: transparent;
		border-bottom: 0;
		margin-bottom: 0;
	}
	&_nolinemobile{
		@include break-under(tablet){
			background-color: transparent;
			border-bottom: 0;
		}
	}
	&_deep{
		margin-top: $block-spacing;
		margin-bottom: $block-spacing;
	}
	@media print{
		margin-top: $block-spacing--shallow--static;
		margin-bottom: $block-spacing--shallow--static;
	}
}