@use "@/app/assets/styles/all-vars" as *;

.contacts{
	width: 100%;
	&:before{
		content: '';
		width: 100%;
		background-color: black;
		height: 1px;
		top: -2px;
		left: 0;
		position: absolute;
	}
	.inner{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		gap: 1rem;
		@include break(tablet){
			gap: 2rem;
		}
		@include break(tablet){
			gap: unset;
			padding-top: unset;
			padding-bottom: unset;
			flex-direction: row;
			align-items: center;
			height: 100%;
			padding-top: $block-spacing--shallow;
		}
		@media print{
			padding-top: unset;
			padding-bottom: unset;
			flex-direction: row;
			align-items: center;
			height: 100%;
		}
	}
	&_section{
		display: flex;
		gap: 1rem;
		flex-direction: column;
		@include break(tablet){
			gap: 2rem;
			padding-left: 4rem;
			padding-right: 4rem;
			flex-direction: row;
		}
		position: relative;
		&:first-of-type{
			padding-left: 0;
			border-left: 0;
		}
		&:after{
			@include break(tablet){
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background-color: var(--color-ridged-line-shadow);
				border-right: .5px solid var(--color-ridged-line-light);
				height: 100%;
				width: 1px;
			}
		}
		&:last-of-type{
			&:after{
				display: none;
			}
		}
	}
}