@use "@/app/assets/styles/style-library/all-vars" as vars;

.shapes{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-blend-mode: darken;
	@media print{
		display: none;
	}
	&__background{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .6;
	}
	div{
		position: absolute;
		// blurry shape
		&:nth-of-type(1){
			aspect-ratio: 1/1;
			border-radius: 50%;
			mix-blend-mode: color-dodge;
			@include vars.light-mode-wrapper{
				mix-blend-mode:color-burn;
			}
		}
		// filled bg shape
		&:nth-of-type(2){
			aspect-ratio: 1/1;
			opacity: .05;
			border-radius: 50%;
			mix-blend-mode: color-dodge;
			@include vars.light-mode-wrapper{
				mix-blend-mode: color-burn;
			}
		}
		// stroke shape
			&:nth-of-type(3){
				aspect-ratio: 1/1;
				opacity: .2;
				border-radius: 50%;
				transform:translate(50%, -25%);
				mix-blend-mode: color-dodge;
				border-width: .5px;
				border-style: solid;
				@include vars.light-mode-wrapper{
					mix-blend-mode: color-burn;
				}
			}
		}
		&--1{
			div{
				&:nth-of-type(1){
				width: auto;
				height: 1200px;
				filter: blur(300px);
				background-color: rgba(110, 3, 3, 0.8);
				bottom: 0;
				left: 0;
				@include vars.light-mode-wrapper{
					background-color: var(--color-accent-alt);
					opacity: .4;
				}
			}
			&:nth-of-type(2){
				width: 80vw;
				height: auto;
				aspect-ratio: 1/1;
				background-color: var(--color-accent);
				opacity: .1;
				top: 0;
				right: -20vw;
				@include vars.light-mode-wrapper{
					background-color: var(--color-accent);
				}
			}
			&:nth-of-type(3){
				width: auto;
				height: 200%;
				aspect-ratio: 1/1;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border-color: var(--color-accent);
				@include vars.light-mode-wrapper{
					opacity: .5;
				}
			}
		}
	}
		&--2{
			div{
				&:nth-of-type(1){
					width: auto;
					height: 1200px;
					filter: blur(300px);
					background-color: rgba(110, 3, 3, 0.6);
					bottom: 0;
					left: 0;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent);
						opacity: .5;
					}
				}
				&:nth-of-type(2){
					width: 80vw;
					height: auto;
					aspect-ratio: 1/1;
					background-color: var(--color-accent);
					opacity: .05;
					bottom: 0;
					right: -20vw;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent-alt);
						opacity: .1;
					}
				}
				&:nth-of-type(3){
					width: auto;
					height: 200%;
					opacity: .4;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border-color: var(--color-accent);
			}
		}
	}
		&--3{
			div{
				&:nth-of-type(1){
					width: auto;
					height: 1200px;
					filter: blur(300px);
					background-color: rgba(110, 3, 3, 0.6);
					bottom: 0;
					left: 0;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent);
						opacity: .5;
					}
				}
				&:nth-of-type(2){
					width: 80vw;
					height: auto;
					aspect-ratio: 1/1;
					background-color: var(--color-accent);
					opacity: .05;
					top: 0;
					right: -20vw;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent-alt);
						opacity: .1;
					}
				}
				&:nth-of-type(3){
					width: auto;
					height: 200%;
					opacity: .4;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border-color: var(--color-accent);
			}
		}
	}
		&--4{
			div{
				&:nth-of-type(1){
					width: auto;
					height: 1200px;
					filter: blur(300px);
					background-color: rgba(110, 3, 3, 0.6);
					bottom: 0;
					left: 0;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent);
						opacity: .5;
					}
				}
				&:nth-of-type(2){
					width: 80vw;
					height: auto;
					aspect-ratio: 1/1;
					background-color: var(--color-accent);
					opacity: .05;
					top: 0;
					right: -20vw;
					@include vars.light-mode-wrapper{
						background-color: var(--color-accent-alt);
						opacity: .1;
					}
				}
				&:nth-of-type(3){
					width: auto;
					height: 600%;
				opacity: .4;
				transform:translate(50%, -25%);
				bottom: 0;
				left: 0;
				border-color: var(--color-accent);
			}
		}
	}
}
