@use "@/app/assets/styles/style-library/all-vars" as vars;

.postIndexItem{
	display: block;
	margin-bottom: vars.$block-spacing--shallow;
	padding-bottom: vars.$block-spacing--shallow;
	background-color: var(--color-bg-alt-70);
	position: relative;
	&:first-of-type{
		margin-top: vars.$block-spacing;
	}
	&:last-of-type{
		margin-bottom: vars.$block-spacing;
	}
	&__title{
		a{
			@include vars.text-heading--large;
			margin-bottom: 0;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__metadata{
		margin-top: .6rem;
		display: flex;
		align-items: center;
		gap: .3em;
		margin-top: calc(vars.$block-spacing--shallow /4);
	}
	&__excerpt{
		margin-top: calc(vars.$block-spacing--shallow /4);
	}
	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: var(--color-accent-20);
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
