.main {
	&::after {
		content: '';
		top: 0;
		height: 100%;
		position: fixed;
		z-index: 10;
		width: 1px;
		background-color: var(--color-accent-20);
		right: 15%;
		z-index: -1;
	}
}

.thoughts-index .main {
	&::after {
		display: none;
	}
}
