@use "../../style-library/all-vars" as vars;

%defaults{
	position: relative;
	left: 0;
	top: 0;
	height: auto;
	max-width: 80%;
}

.icon_glass{
	@extend %defaults;
	left: -1.5rem;
}
.icon_door{
	@extend %defaults;
}
.icon_tag{
	@extend %defaults;
}
.icon_pieces{
	@extend %defaults;
}
.icon_mag_glass{
	@extend %defaults;
}
.icon_shapes{
	@extend %defaults;
}
.icon_fingerprint{
	@extend %defaults;
}
.icon_balance{
	@extend %defaults;
}

.dark_mode_hide{
	visibility:hidden;
	@include vars.light-mode-wrapper{
		visibility:visible;
	}
	@media print{
		visibility:visible;
	}
}
.dark_mode_nobg{
	:global(body.dark-mode) &{
		fill: none;
	}
}