@use "../../style-library/all-vars" as vars;

.list_item{
	list-style-type: none;
	gap: .7em;
	align-items:baseline;
	display: flex;
	padding-top: .3em;
	padding-bottom: .3em;
	max-width: vars.$content-width;
	@extend %text-body;
	&::before{
		position: relative;
		top: -.1em;
		content: '';
		width: 6px;
		height: 6px;
		background-color: var(--color-accent-alt);
		display: block;
		transform: rotate(45deg);
		flex-shrink: 0;
	}
	&.blocky{
		@extend %text-blocky;
		padding-top: .1em;
		padding-bottom: .1em;
	}
}