@use "../../style-library/all-vars" as vars;

$spacingunit: clamp(4rem, 8vw, 28rem);

.section{
	padding-bottom: $spacingunit;
	margin-bottom: $spacingunit;
	&__heading-top{
		text-align: center;
		margin-bottom: vars.$block-spacing;
		@extend %text-heading--chunky;
		color: var(--color-accent-alt);
	}
	&____no-spacing{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	&____line{
		border-bottom: .5px solid var(--color--accent-50);
	}
	&_____no-min-height{
		min-height: unset;
	}
}