@use "../../style-library/all-vars" as vars;

.section_head{
	position: relative;
	width: 100%;
}

.title{
	margin: 0;
	padding-left: calc(1.5vw + 1.1em);
	padding-bottom: 2rem;
	@extend %text-heading;
	color: var(--color-accent);
	@media print{
		padding-left: 0;
		font-size:4rem;
		margin-top: 2rem;
		padding-top: 4rem;
		padding-bottom: 2rem;
	}
	&__no_indent_mobile{
		@include vars.break-under(tablet){
			padding-left: 0;
		}
	}
	&__no_separator{
		margin: 0;
		@extend %text-heading;
	}
}
:global(body.dark-mode) .title {
	color: var(--color-foreground);
}
