@use "../../style-library/all-vars" as vars;

$spacingunit: clamp(4rem, 8vw, 28rem);

.section{
	padding-bottom: $spacingunit;
	margin-bottom: $spacingunit;
	&____no_spacing{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	&____line{
		border-bottom: .5px solid var(--color--accent-50);
	}
	&_____no_min_height{
		min-height: unset;
	}
}