@use "@/app/assets/styles/style-library/all-vars" as vars;

.card{
	position: relative;
	border: 1px solid var(--color-accent-alt-50);
	padding: 1rem;
	padding-bottom: 2rem;
	&__image{
		width: 100%;
		height: auto;
	}
	&__header{
		margin-top: .4em;
		margin-bottom: .4em;
		a{
			@include vars.text-heading;
			gap: .1em;
			align-items: baseline;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		svg{
			height: .7em;
			width: auto;
			padding-left: .2em;
			transform: translatey(10%);
		}
	}
	&____basic{
		.card__image{
			display: none;
		}
	}
	&__content{
		padding: 1rem;
	}
	&__description{
		@include vars.text-tiny;
	}
}
