@use '@/app/ui/style-library/global/tokens/mixins' as vars;

.articleMain {
	display: block;
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing--shallow);
	&__body {
		@include vars.text-editorial;
		figure {
			margin-bottom: var(--block-spacing--text);
			> img, > svg{
				box-shadow: 0 8px 12px 4px rgba($color: #000000, $alpha: 0.1);
			}
		}
		& > figure:first-child {
			top: calc(-4 * var(--block-spacing--text));
			margin-bottom: 0;
		}
		a:global(.button){
			margin-bottom: 2rem;
		}
	}
}
