@use "../../../../assets/styles/style-library/all-vars" as vars;

.vennDiagram{
	width: 100%;
	max-width: 400px;
	margin-bottom: vars.$block-spacing;
	display: flex;
	justify-content: center;
	@include vars.break(desktop){
		max-width: 300px;
		min-width: 250px;
		float: right;
		width: 22vw;
		margin-bottom: calc(vars.$block-spacing--shallow /2);
		margin-left: calc(vars.$block-spacing--shallow /2);
	}
	&__inner{
		position: relative;
		display: block;
		height: auto;
		width: 80%;
	}
	&__textOverlay{
		position: absolute;
		top: calc(50% + .5em);
		left: 50%;
		transform: translate(-50%, -50%);
		@extend %text-miniscule;
		display: flex;
		flex-direction: column;
		align-items: center;
		span{
			color: var(--color-accent-alt);
			text-align: center;
			padding: .3em;
			display: block;
			&.loopingText{
				color: var(--color-foreground);
				max-width: 90px;
			}
		}
	}
	svg{
		width: 100%;
		height: auto;
		text{
			@extend %text-miniscule;
		}
		circle{
			fill: none!important;
		}
	}
}
