@use "./all-vars.scss" as *;

:root {
	color-scheme: light dark;
}

html{
	font-size: 10px;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: $color-bg-alt;
	color: $color-foreground;
	@include text-std;
	overflow-y: auto;
}

main{
	overflow-x: hidden;
}

hr{
	border: 0;
	background-color: black;
	height: 1px;
	margin-bottom: $block-spacing;
}

button{
	all: unset;
	&.button{
		@include text-link;
		cursor: pointer;
	}
}

input, button, label, textarea{
	margin-bottom: $block-spacing--shallow;
}

a:not(:has(> *)){
	@include text-link;
}

a, button, input, textarea, select{
	&:focus-visible{
		outline: 2px solid $color-focus;
		outline-offset: .3em;
	}
}