@use "./all-vars.scss" as *;

html{
	font-size: 10px;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-foreground);
	@extend %text-std;
	overflow-y: auto;
}

main{
	overflow-x: hidden;
}

hr{
	border: 0;
	background-color: black;
	height: 1px;
	margin-bottom: $block-spacing;
}

button{
	all: unset;
	text-decoration: 0;
	cursor: pointer;
	&.button{
		@extend %text-link;
	}
}

input, button, label, textarea{
	margin-bottom: $block-spacing--shallow;
}

a:not(:has(> *)){
	@extend %text-link;
}

a, button, input, textarea, select{
	&:focus-visible{
		outline: 2px solid var(--color-focus);
		outline-offset: .3em;
	}
}