@use "./all-vars.scss" as *;

html{
	font-size: 10px;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: $color-bg-alt;
	color: $color-foreground;
	@include text-std;
	overflow-y: auto;
}

main{
	overflow-x: hidden;
}

hr{
	border: 0;
	background-color: black;
	height: 1px;
	margin-bottom: $block-spacing;
}

button{
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: $color-foreground;
	font-size: inherit;
	font-family: inherit;
	@include text-link;
	padding: 0;
	margin: 0;
}

input, button, label, textarea{
	margin-bottom: $block-spacing--shallow;
}

a:not(:has(> *)){
	@include text-link;
}