@use "./all-vars.scss" as *;

.highlight{
	color: $color-accent;
}

.highlight_alt{
	color: $color-accent-alt;
}

.p-relative{
	position:relative;
}

.mt{
	margin-top: $block-spacing--shallow;
}
.mb{
	margin-bottom: $block-spacing--shallow;
}

.pt{
	padding-top: $block-spacing--shallow;
}
.pb{
	padding-bottom: $block-spacing--shallow;
}

.pt--deep{
	padding-top: $block-spacing--deep;
}
.pb--deep{
	padding-bottom: $block-spacing--deep;
}