@use "./all-vars.scss" as *;

.highlight{
	color: var(--color-accent);
}

.highlight_alt{
	color: var(--color-accent-alt);
}

.p-relative{
	position:relative;
}

.mt{
	margin-top: $block-spacing;
}
.mb{
	margin-bottom: $block-spacing;
}
.mb--deep{
	margin-bottom: $block-spacing--deep;
}
.mb--shallow{
	margin-bottom: $block-spacing--shallow;
}

.pt{
	padding-top: $block-spacing;
}
.pb{
	padding-bottom: $block-spacing;
}

.pb--0{
	padding-bottom: 0;
}

.pt--deep{
	padding-top: $block-spacing--deep;
}
.pb--deep{
	padding-bottom: $block-spacing--deep;
}

.color-accent{
	color: var(--color-accent);
}
.color-accent-alt{
	color: var(--color-accent);
}


// SVG fills
.fill-accent{
	fill: var(--color-accent);
}
.fill-accent-alt{
	fill: var(--color-accent-alt);
}
.fill-foreground{
	fill: var(--color-foreground);
}
.fill-bg{
	fill: var(--color-bg);
}
.fill-bg-alt{
	fill: var(--color-bg-alt);
}
.fill-bg-solid{
	fill: var(--color-bg-solid);
}
.fill-accent-faded{
	fill: var(--color-accent-faded);
}
.fill-accent-alt-faded{
	fill: var(--color-accent-alt-faded);
}

// SVG strokes
.stroke-bg{
	stroke: var(--color-bg);
}
.stroke-accent{
	stroke: var(--color-accent);
}
.stroke-accent-alt{
	stroke: var(--color-accent-alt);
}

.hidden{
	display: none;
}

.hide-print{
	@media print{
		display: none;
	}
}

.hide-mobile{
	@include break-under(tablet){
		display: none;
	}
}

.show-mobile{
	@include break(tablet){
		display: none;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.visually-hidden--show-print {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
	@media print{
		position: relative;
		width: unset;
		height: unset;
		padding: inherit;
		overflow: unset;
		clip: unset;
		white-space: unset;
		border: unset;
	}
}