@use "./all-vars.scss" as *;

.text-tiny{
	@include text-tiny;
}
.text-std{
	@include text-std;
}
.text-link{
	@include text-link;
}
.text-body{
	@include text-body;
}
.text-intro{
	@include text-intro;
}
.text-medium{
	@include text-medium;
}
.text-heading{
	@include text-heading;
}
.text-display{
	@include text-display;
}
.text-blocky{
	@include text-blocky;
}
.text-miniscule{
	@include text-miniscule;
}

p.inset-text{
	@include text-body;
	font-style: normal;
	line-height: 1.6;
	border-left: 3px solid $color-accent;
	padding-left: 2rem;
}