@use "./all-vars.scss" as *;

.text-tiny{
	@extend %text-tiny;
}
.text-std{
	@extend %text-std;
}
.text-link{
	@extend %text-link;
}
.text-body{
	@extend %text-body;
}
.text-intro{
	@extend %text-intro;
}
.text-medium{
	@extend %text-medium;
}
.text-heading{
	@extend %text-heading;
}
.text-display{
	@extend %text-display;;
}
.text-blocky{
	@extend %text-blocky;
}
.text-miniscule{
	@extend %text-miniscule;
}

p.inset-text{
	font-size: $font-size-body;
	line-height: 1.4;
	font-variation-settings: "ital" 0, "opsz" 6, "wght" 600;
	.dark-mode &{
		font-variation-settings: "wght" 500;
		letter-spacing: .02em;
	}
	color: var(--color-accent-alt);
	border-left: 3px solid var(--color-accent-alt);
	padding-left: 2rem;
}

b, strong{
	font-weight: bold;
}