$border-radius: 4px;
$gutter-padding: 4vw;
$block-spacing: 4.5rem;
$block-spacing--shallow: 3rem;
$block-spacing--deep: 6rem;
$site-width: 1000px;
$site-width-margins: calc((1000px + $gutter-padding) + $gutter-padding);