.card{
	background-color: $color-bg-alt;
	padding: .5rem;
	position: relative;
	border-radius: $border-radius;
	list-style: none;
}

.card img{
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: $border-radius;
	margin-bottom: $block-spacing--shallow;
}