:root{
	--color-foreground: #ffffff;
	--color-accent: #9AF3FF;
	--color-accent-alt: #FFAAAA;
	--color-bg: #202020;
	--color-bg-alt: #161616;
	--color-bg-off-solid: #0c0c0c;
	--color-bg-solid: #000000;
	--color-feint-line: rgba(0, 0, 0, 1);
	--color-focus: #9AF3FF;
	--color-accent-alt-immutable: #FFAAAA;
	--color-accent-immutable: #9AF3FF;
	--color-accent-faded: #9af3ff76;
	--color-accent-alt-faded: #ffaaaa63;
}

body{
	&.light-mode{
		--color-foreground: #2c2c2c;
		--color-foreground-alt: #4b4b4b;
		--color-accent: #386a71;
		--color-accent-alt: #af4a4a;
		--color-bg: #e3e3e3;
		--color-bg-alt: #d1d1d1;
		--color-bg-off-solid: #fbfbfb;
		--color-bg-solid: #ffffff;
		--color-feint-line: rgb(255, 255, 255, 1);
		--color-focus: #386a71;
	}
	@media print{
		--color-foreground: #2c2c2c;
		--color-foreground-alt: #4b4b4b;
		--color-accent: #386a71;
		--color-accent-alt: #af4a4a;
		--color-bg: #e3e3e3;
		--color-bg-alt: #d1d1d1;
		--color-bg-off-solid: #fbfbfb;
		--color-bg-solid: #ffffff;
		--color-feint-line: rgb(255, 255, 255, 1);
		--color-focus: #386a71;
	}
}