.footer{
	padding: $block-spacing 0;
	height: 30rem;
	background-color: $color-bg-alt;
	border-top: 1px solid $color-accent;
	padding-top: $block-spacing;
}

.footer__line{
	width: 100%;
	text-align: center;
	@include text-blocky;
	margin-bottom: 0;
}