.footer{
	padding: var(--block-spacing) 0;
	// height: 30rem;
	background-color: var(--color-bg-alt);
	border-top: 1px solid var(--color-accent);
	padding-top: var(--block-spacing);
}

.footer__line{
	width: 100%;
	text-align: center;
	@include text-blocky;
	margin-bottom: 0;
}