.header{
	background-color: var(--color-bg);
	padding-top: 3rem;
	padding-bottom: 3rem;
	z-index: 2;
	position: relative;

	&__inner{
		display: flex;
		align-items: center;
		gap: 1rem;
		position: relative;
	}

	&__site-name{
		margin: 0;
		padding: 0;
		line-height: 1;
		text-transform: uppercase;
		display: flex;
		gap: .5em;
		position: relative;
		top: .05em;
		flex-shrink: 0;
		@include text-blocky;
		font-size: 1.6rem;
		span.name{
			color: var(--color-accent);
		}
	}
	
	&__line{
		width: 100%;
		position: relative;
		hr{
			border: 0;
			margin: 0;
			padding: 0;
			height: 1px;
			background-color: var(--color-accent);
		}
		svg{
			display: none;
			@include break($mobile){
				display: block;
				position: absolute;
				right: 4vw;
				top: 0;
				fill: var(--color-accent);
				position: absolute;
				transform: translateY(-50%);
			}
		}
	}
}