.section-head{
	position: relative;
	width: 100%;
	padding-top: $block-spacing;
	padding-bottom: $block-spacing--deep;
}
.section-head--separator{
	border-top: 1px solid $color-accent;
	&:before{
		content: '';
		left: 4rem;
		top: -8px;
		background-color: $color-accent;
		width: 14px;
		height: 14px;
		position: absolute;
		transform: rotate(45deg);
	}
}

.section-head__title{
	margin: 0;
	padding-left: 4rem;
}

/* .section-head--separator .section-head__title{
	padding-left: 4rem;
} */