@use "../../../../assets/styles/all-vars" as *;

.content_sheet{
	.inner{
		display: flex;
		flex-direction: column;
		@include break(tablet){
			gap: $column-gap;
			flex-direction: row;
		}
	}
	.metadata{
		flex: 1;
		&__item{
			margin-bottom: 2rem;
		}
		&__title{
			@include text-blocky-bold;
		}
		&__duration{
			@include text-blocky;
		}
	}
	.duration{
		@include text-blocky;
	}
	.about{
		flex: 2;
	}
	ul.clients_list{
		padding-left: 0;
		display: flex;
		flex-direction: column;
		gap: .5em;
		li{
			list-style-type: none;
			@include text-blocky;
			gap: 1em;
			align-items: center;
			display: flex;
			&::before{
				content: '';
				width: 8px;
				height: 8px;
				background-color: $color-accent-alt;
				display: block;
				transform: rotate(45deg);
			}
		}
	}
	.intro{
		@include text-intro;
	}
	.body_text{
		@include body-formatting;
	}
}