@use "../../../../assets/styles/all-vars" as *;

.content_sheet{
	&__main{
		@include break(tablet){
			padding-top: $block-spacing--shallow;
		}
	}
	.metadata{
		&__item{
			margin-bottom: 2rem;
		}
		&__heading{
			@include text-heading;
		}
		&__duration{
			@include text-blocky;
		}
	}
	.duration{
		@include text-blocky;
	}
	ul.clients_list{
		padding-left: 0;
		column-count: 2;
		gap: 6rem;
		li{
			list-style-type: none;
			@include text-blocky;
			gap: .7em;
			align-items:baseline;
			display: flex;
			padding-bottom: .3em;
			&::before{
				position: relative;
				top: -.1em;
				content: '';
				width: 6px;
				height: 6px;
				background-color: var(--color-accent-alt);
				display: block;
				transform: rotate(45deg);
				flex-shrink: 0;
			}
		}
	}
	.intro{
		@include text-intro;
		color: var(--color-accent-alt);
	}
	.body_text{
		@include body-formatting;
	}
}