@use "@/app/assets/styles/all-vars" as *;

.content_sheet{
	&__main{
		@include break(tablet){
			padding-top: $block-spacing--shallow;
		}
	}
	.body_text{
		@include body-formatting;
		margin-bottom: $block-spacing--shallow;
	}
	.metadata{
		&__item{
			margin-bottom: $block-spacing--shallow;
		}
		&__heading{
			@extend %text-heading;
		}
		&__duration{
			@extend %text-blocky;
		}
	}
	.duration{
		@extend %text-blocky;
	}
	ul.clients_list{
		padding-left: 0;
		gap: 6rem;
		column-count: 1;
		@include break(desktop){
			column-count: 2;
		}
	}
	.intro{
		@extend %text-intro;
		color: var(--color-accent-alt);
	}
}