@use '@/app/ui/style-library/global/tokens/mixins' as vars;

.cardGrid {
	$gridGap: clamp(1rem, 5vw, 10rem);
	$gridGapHalf: clamp(0.5rem, 2.5vw, 5rem);
	&__item {
		position: relative;
		width: 100%;
	}
}
