@use "../../../assets/styles/all-vars" as *;

.work_history{
	background-color: $color-bg;
	.inner{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.nav{
		display: flex;
		gap: 1rem;
	}
}