@use "../../../assets/styles/all-vars" as *;

.work_history{
	background-color: var(--color-bg);
	&__sectionHead{
		margin-top: 10.2rem;
	}
	.nav{
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		flex-wrap: wrap;
		@include break(tablet){
			border-bottom: 1px solid var(--color-foreground);
			justify-content: space-between;
			flex-direction: row-reverse;
			height: 10.2rem;
		}
		@include break(desktop-med){
			gap: 4rem;
		}
	}
	.nav_item{
		flex-grow: 0;
		margin-bottom: 0;
		position: relative;
		padding-bottom: 3rem;
		@include break(tablet){
			flex-shrink: 2;
		}
		&__inner{
			position: relative;
			@include break(tablet){
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 6rem;
				padding-bottom: 2rem;
			}
		}
		&__title{
			display: block;
			text-align: center;
		}
		&__dates{
			display: none;
			@include text-blocky;
			text-align: center;
		}
		&.is_active{
			color: var(--color-accent);
			position: relative;
			display: block;
			cursor: default;
			text-decoration: none;
			color: var(--color-foreground);
			@include break(desktop-med){
				flex-grow: 1;
			}
			.nav_item__title{
				@include break(desktop-med){
					font-size: responsiveSize(2.6, 10, 2.6);
				}
			}
			.nav_item__dates{
				@include break(tablet){
					display: block;
				}
			}
			&::before{
				@include break(tablet){
					content: "";
					width: 1px;
					height: 3rem;
					display: block;
					background-color: var(--color-foreground);
					position: absolute;
					left: 50%;
					bottom: 0;
				}
			}
			&::after{
				@include break(tablet){
					content: '';
					height: 1px;
					width: 100vw;
					background: var(--color-bg);
					border-left: 1px solid var(--color-foreground);
					position: absolute;
					bottom: 0;
					transform: translateY(100%);
					left: 50%;
					display: block;
				}
			}
		}
	}
}