@use "../../../assets/styles/all-vars" as *;

.work_history{
	background-color: $color-bg;
	.inner{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.nav{
		width: 100%;
		display: flex;
		gap: 4rem;
		justify-content: space-between;
		flex-direction: row-reverse;
		border-bottom: 1px solid white;
		align-items: center;
		padding-bottom: calc(15rem + 9px);
		padding-top: $block-spacing--shallow;
		&__item{
			flex-grow: 0;
			margin-bottom: 0;
			position: relative;
			flex-shrink: 2;
			&.is_active{
				color: $color-accent;
				text-decoration: none;
				font-size: 2.2rem;
				position: relative;
				display: block;
				flex-grow: 1;
				&::after{
					content: '';
					height: calc(15rem);
					width: 100vw;
					background: $color-bg;
					border-left: 1px solid white;
					position: absolute;
					bottom: -10px;
					transform: translateY(100%);
					left: 50%;
					display: block;
				}
			}
		}
	}
	&__content{
		padding-top: $block-spacing;
	}
}