@use "@/app/assets/styles/all-vars" as *;


.side_furniture{
	position: relative;
	height: 100%;
	@include break(tablet){
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 10px;
		gap: 4rem;
		padding-top: 4rem;
	}
	&__dots{
		flex-grow: 1;
		display: none;
		@include break(tablet){
			display: block;
		}
	}
	&__tick{
		position: relative;
		height: 8rem;
		width: 10px;
		display: none;
		@include break(tablet){
			display: block;
		}
		svg{
			position: absolute;
			width: 8rem;
			height: 8rem;
			top: 0;
			left: 12px;
			transform: translateX(-50%);
			path, clipPath, rect{
				fill: var(--color-accent-alt);
			}
		}
	}
	&__profile{
		display: none;
		@include break(tablet){
			height: 16rem;
			width: 10px;
			display: block;
			position: relative;
		}
		svg{
			width: 12rem;
			height: 12rem;
			fill: var(--color-accent);
			@include break(tablet){
				width: 16rem;
				height: 16rem;
				position: absolute;
				left: 8px;
				top: -3px;
				transform: translateX(-50%);
			}
		}
	}
}
