.postImage{
	position: relative;
	width: 100%;
	display: block;
	&__image{
		height: auto;
	}
}
.extended{
	.postImage__image{
		width: 90vw;
		height: auto;
		max-width: unset;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}