@use "@/app/assets/styles/style-library/all-vars" as vars;

.textStandout{
	position: relative;
	background-size: auto;
	background-repeat: repeat;
	// border-top: 1px solid var(--color-accent-alt);
	@media print{
		border-top: 0;
		border-bottom: 0;
		background: none!important;
	}
	&__prefix{
		@extend %text-blocky;
		color: var(--color-accent-alt);
		margin-bottom: calc(vars.$block-spacing /2);
	}
	&__main{
		margin-block-start: unset;
		margin-block-end: unset;
		display: block;
		text-align: center;
    	margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 80vw;
		@include vars.break(tablet){
			max-width: 60vw;
		}
		&__text{
			position: relative;
			margin-bottom: 0;
			color: transparent;
			background: linear-gradient(180deg, var(--color-foreground) 75%, var(--color-accent) 100% );
			background-clip: text;
    		-webkit-background-clip: text;
			@extend %text-display-small;
			max-width: unset;
			@media print{
				background: none;
				color: var(--color-foreground);
			}
		}
		@media print{
			padding-top: unset;
			padding-bottom: unset;
			text-align: left;
			margin-left: unset;
		}
	}
}