@use "@/app/assets/styles/all-vars" as *;

.clients{
	@include svgColor(var(--color-foreground));
	.logos{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3rem;
		align-items: baseline;
	}
	.logos_line{
		display: flex;
		flex-direction: row;
		gap: 3rem;
		align-items: baseline;
		flex-wrap: wrap;
	}
	.logo_nao{
		position: relative;
		top: 5px;
	}
	@media print{
		display: none;
	}
}