@use "@/app/assets/styles/all-vars" as *;

.backTop{
	position: fixed;
	right: 2rem;
	bottom: 0;
	z-index: 10;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	@include break(tablet){
		right: 4rem;
	}
	height: 4rem;
	margin-bottom: 0;
	border: 1px solid var(--color-accent);
	&:hover, &:focus{
		border-width: .5px;
		border-color: var(--color-foreground);
	}
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: var(--color-bg-alt);
	svg{
		height: 4rem;
		width: 4rem;
	}
}