@use "../../../assets/styles/all-vars" as *;

.sign_off{
	position: relative;
	background-size: auto;
	background-repeat: repeat;
	p{
		margin: 0;
		padding: 2em 0;
		@extend %text-display-small;
		text-align: center;
	}
}