.shapes{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	div{
		position: absolute;
		// blurry shape
		&:nth-of-type(1){
			aspect-ratio: 1/1;
			opacity: .3;
			border-radius: 50%;
			filter: blur(256px);
			mix-blend-mode: color-dodge;
		}
		// filled bg shape
		&:nth-of-type(2){
			aspect-ratio: 1/1;
			background-color: var(--color-accent);
			opacity: .05;
			border-radius: 50%;
			mix-blend-mode: color-dodge;
		}
		// stroke shape
		&:nth-of-type(3){
			aspect-ratio: 1/1;
			opacity: .2;
			border-radius: 50%;
			transform:translate(50%, -25%);
			top: 0;
			right: 25vw;
			mix-blend-mode: color-dodge;
			border: .5px solid var(--color-accent);
		}
	}
	&_1{
		div{
			position: absolute;
			&:nth-of-type(1){
				width: auto;
				height: 515px;
				background-color: var(--color-accent-alt);
				top: 0;
				left: 0;
			}
			&:nth-of-type(2){
				width: 80vw;
				height: auto;
				aspect-ratio: 1/1;
				background-color: var(--color-accent);
				opacity: .05;
				top: 0;
				right: -20vw;
			}
			&:nth-of-type(3){
				width: auto;
				height: 200%;
				aspect-ratio: 1/1;
				opacity: .2;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border: .5px solid var(--color-accent);
			}
		}
	}
	&_2{
		div{
			&:nth-of-type(1){
				width: auto;
				height: 515px;
				background-color: var(--color-accent);
				opacity: .2;
				top: 0;
				left: 0;
			}
			&:nth-of-type(2){
				width: 80vw;
				height: auto;
				background-color: var(--color-accent-alt);
				opacity: .02;
				bottom: 0;
				right: 0;
			}
			&:nth-of-type(3){
				width: auto;
				height: 200%;
				opacity: .2;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border: .5px solid var(--color-accent);
			}
		}
	}
	&_3{
		div{
			&:nth-of-type(1){
				width: auto;
				height: 515px;
				background-color: var(--color-accent);
				opacity: .2;
				top: 0;
				left: 0;
			}
			&:nth-of-type(2){
				width: 80vw;
				height: auto;
				background-color: var(--color-accent-alt);
				opacity: .02;
				bottom: 0;
				right: 0;
			}
			&:nth-of-type(3){
				width: auto;
				height: 200%;
				opacity: .2;
				transform:translate(50%, -25%);
				top: 0;
				right: 25vw;
				border: .5px solid var(--color-accent);
			}
		}
	}
	&_4{
		div{
			&:nth-of-type(1){
				width: auto;
				height: 515px;
				background-color: var(--color-accent-alt);
				opacity: .2;
				top: 0;
				left: 0;
			}
			&:nth-of-type(2){
				width: 80vw;
				height: auto;
				background-color: var(--color-accent);
				opacity: .02;
				bottom: 0;
				right: 0;
			}
			&:nth-of-type(3){
				width: auto;
				height: 515px;
				left: 0;
				opacity: .2;
				transform:translate(-25%, -25%);
				top: 0;
				left: 0;
				border: .5px solid var(--color-accent-alt);
			}
		}
	}
}
