@use "@/app/assets/styles/all-vars" as *;

.themes{
	background-color: var(--color-bg);
}
.tile_container{
	position: relative;
	overflow: hidden;
}
.tile_grid{
	background-color: var(--color-feint-line);
	@media print{
		background-color: unset;
	}
	width: 80vw;
	margin: 0 auto;
	gap: .5px;
	position: relative;
	top: -1px;
	@include break(mobile){
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		right: -1px;
	}
	@include break(desktop){
		grid-template-columns: 1fr 1fr 1fr;
	}
	> *:last-of-type{
		grid-column: span 2;
		@include break(desktop){
			grid-column: unset;
		}
		@media print{
			grid-column: unset;
		}
	}
	@media print{
		display: grid;
		grid-template-rows: auto;
		width: 100%;
		right: -1px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
.tile{
	background-color: var(--color-bg);
	border-top: 1px solid rgba(255,255,255,.07);
	border-right: 0;
	position: relative;
	@include break(mobile){
		border-right: 1px solid rgba(255,255,255,.05);
	}
	:global(body.light-mode) &{
		border-top: 1px solid rgba(0,0,0,.07);
		border-right: 1px solid rgba(0,0,0,.07);
	}
	&__name{
		@extend %text-tiny;
		text-align: center;
	}
	&_icon{
		display: block;
		padding-top: 4rem;
		padding-bottom: 4rem;
		@include break(mobile){
			padding-top: 0;
			padding-bottom: 0;
			aspect-ratio: 1/1;
			display: block;
		}
		@media print{
			display: none;
		}
	}
	&_noicon{
		padding: 2rem;
	}
	.tile__inner{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		position: relative;
		@include break(tablet){
			gap: 2rem;
		}
		.icon_container{
			@include break(mobile){
				max-width: 120px;
				aspect-ratio: 1/1;
				width: 50%;
				height: auto;
			}
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			svg{
				max-width: 100%;
				z-index: 1;
			}
		}
	}
}