@use "../../../assets/styles/all-vars" as *;

.themes{
	background-color: var(--color-bg);
	padding-top: $block-spacing--shallow;
}
.tile_container{
	position: relative;
	overflow: hidden;
}
.tile_grid{
	background-color: var(--color-feint-line);
	gap: .5px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	position: relative;
	top: -1px;
	right: -1px;
	@include break(desktop){
		grid-template-columns: 1fr 1fr 1fr;
	}
	> *:last-of-type{
		grid-column: span 2;
		@include break(desktop){
			grid-column: unset;
		}
	}
}
.tile{
	background-color: var(--color-bg);
	min-height: 10rem;
	border-top: 1px solid rgba(255,255,255,.07);
	border-right: 1px solid rgba(255,255,255,.05);
	:global(body.light-mode) &{
		border-top: 1px solid rgba(0,0,0,.07);
		border-right: 1px solid rgba(0,0,0,.07);
	}
	&__name{
		@extend %text-tiny;
		text-align: center;
	}
	.tile__inner{
		gap: 2rem;
		@include break(mobile){
			gap: 2rem;
		}
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem;
	}
}
.tile_icon{
	aspect-ratio: 1/1;
}
.icon_container{
	width: 50%;
	max-width: 120px;
	height: auto;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	svg{
		max-width: 100%;
	}
}