@use "../../../assets/styles/all-vars" as *;

.themes{
	background-color: var(--color-bg);
	padding-top: $block-spacing--shallow;
}

.tile_grid{
	display: grid;
	gap: .5rem;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	@include break(desktop){
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.tile{
	border: 1px solid var(--color-accent);
	background-color: var(--color-bg-alt);
	:global(body.dark-mode) &{
		border: .5px solid var(--color-accent);
		background-color: var(--color-bg-alt);
	}
	border-radius: 6px;
	&__name{
		@extend %text-tiny;
		text-align: center;
	}
	.tile__inner{
		gap: 0;
		@include break(mobile){
			gap: 2rem;
		}
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem;
	}
}
.tile_icon{
	aspect-ratio: 1/1;
}
.icon_container{
	width: 50%;
	max-width: 120px;
	height: auto;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	svg{
		max-width: 100%;
	}
}