@use "@/app/assets/styles/all-vars" as *;

.footer{
	padding: $block-spacing 0;
	background-image: url("/assets/images/texture-dark.jpg");
	:global(body.light-mode) &{
		background-image: url("/assets/images/texture-light.jpg");
	}
	background-repeat: repeat;
	position: relative;
	border-top: .5px solid var(--color-accent);
	&__line{
		width: 100%;
		display: flex;
		justify-content: center;
		z-index: 2;
		position: relative;
		p{
			padding: .5em 1em .65em 1em;
			display: inline;
			border-radius: .4em;
			@extend %text-blocky;
			text-align: center;
			margin-bottom: 0;
			color: var(--color-foreground);
		}
	}
}
.back_top{
	position: absolute;
	right: 1rem;
	bottom: 0;
	z-index: 1;
	@include break(tablet){
		right: 4rem;
		top: -4rem;
		
	}
}
