@use "../../../assets/styles/all-vars" as *;

.footer{
	padding: $block-spacing--shallow 0;
	background-color: $color-bg;
	position: relative;
	background-size: cover;
	border-top: .5px solid $color-accent;
	&__line{
		width: 100%;
		display: flex;
		justify-content: center;
		p{
			background-color: $color-bg;
			padding: .5em 1em .65em 1em;
			display: inline;
			border-radius: .2em;
			@include text-blocky;
			text-align: center;
		}
	}
}