@use "../../../../assets/styles/style-library/all-vars" as vars;

.contentSheet{
	&__main{
		padding-top: vars.$block-spacing--shallow;
	}
	&_hidden{
		display: none;
		@media print{
			display: block;
		}
	}
	&__name{
		@extend %text-heading;
		@media print{
			font-size:4rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}
	&__dates{
		margin-bottom: vars.$block-spacing--tiny;
		@extend %text-blocky;
		@include vars.break(desktop-wider){
			display: none;
		}
	}
	&__metadata{
		&__duration{
			@extend %text-blocky;
			margin-bottom: vars.$block-spacing--text;
		}
	}
	&__clients_list{
		padding-left: 0;
		gap: 6rem;
		column-count: 1;
		margin-bottom: 0;
		@include vars.break(desktop){
			column-count: 2;
		}
		@media print{
			column-count: 2;
		}
	}
	&__intro{
		@extend %text-intro;
		margin-bottom: vars.$block-spacing--text;
		max-width: vars.$content-width;
	}
}