@use "@/app/assets/styles/style-library/all-vars" as vars;

.listItem{
	@include vars.ul-list-item;
}

.listItem____blocky{
	@include vars.ul-list-item;
	@include vars.text-blocky;
	padding-top: .1em;
	padding-bottom: .1em;
}
