@use "@/app/assets/styles/style-library/all-vars" as vars;


.showcaseViewer{
	border-top: 1px solid var(--color-accent-20);
	border-bottom: 1px solid var(--color-accent-20);
	width: 100vw;
	height: auto;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding-top: vars.$block-spacing--text;
	padding-bottom: vars.$block-spacing--text;
	margin-bottom: vars.$block-spacing--text;
	display: flex;
	justify-content: center;
	max-height: fit-content;
	transform: translate(-50%);
	width: 90vw;
	height: max-content;
	left: 50%;
	&__inner{
		display: flex;
		flex-flow: row;
		gap: 2vw;
		flex-wrap: nowrap;
		width: max-content;
  		max-width: none;
		margin-left: vars.$gutter-padding;
		margin-right: vars.$gutter-padding;
		height: max-content;
	}
	figure{
		flex-shrink: 0;
		margin-bottom: 0;
		aspect-ratio: 239 / 472;
		height: 50vw;
		max-height: 400px;
		display: flex;
		flex-flow: column;
		svg{
			display: block;
			width: 100%;
		}
	}
	&____desktop{
		figure{
			max-width: 300px;
			@include vars.break(tablet){
				max-width: 1000px;
			}
		}
	}
}
