@use "@/app/assets/styles/style-library/all-vars" as vars;


.showcaseViewer{
	background-color: var(--color-bg);
	width: 100vw;
	height: auto;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding-top: vars.$block-spacing--text;
	padding-bottom: vars.$block-spacing--text;
	margin-bottom: vars.$block-spacing--text;
	&____noScroll{
		display: flex;
		align-items: center;
	}
	&__inner{
		display: flex;
		flex-direction: row;
		gap: 2vw;
		flex-wrap: nowrap;
		width: max-content;
  		min-width: max-content;
  		max-width: none;
		&::before{
			content: '';
			height: 100%;
			width: 2vw;
			display: block;
			flex-shrink: 0;
		}
		&::after{
			content: '';
			height: 100%;
			width: 2vw;
			display: block;
			flex-shrink: 0;
		}
	}
	figure{
		flex-shrink: 0;
		margin-bottom: 0;
		svg{
			max-height: 480px;
		}
	}
}
