@use "@/app/assets/styles/all-vars" as *;

.contacts{
	.inner{
		padding-top: $block-spacing--shallow;
		padding-bottom: $block-spacing--shallow;
		display: flex;
		flex-direction: column;
		gap: .3em;
		@include break(tablet){
			padding-top: unset;
			padding-bottom: unset;
			flex-direction: row;
			align-items: center;
			height: 100%;
			gap: 1em;
		}
	}
}