@use "@/app/assets/styles/all-vars" as *;

.hero{
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;
	margin-bottom: 6rem;
	@include break(tablet){
		min-height: calc(100vh - 60px);
		margin-bottom: 12rem;
	}
}

.main_section{
	flex-grow: 1;
	position: relative;
	border-bottom: .5px solid white;
	&__inner{
		z-index: 1;
		position: relative;
		padding-top: clamp(10rem, 15vw, 17rem);
		padding-bottom: clamp(10rem, 15vw, 17rem);
		@include break(tablet){
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		@media print{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	@media print{
		background-image: none;
	}
	.message{
		flex-grow: 1;
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 0;
		max-width: unset;
		@media print{
			padding-top: 1em;
			padding-bottom: $block-spacing--shallow;
		}
		&__main{
			@extend %text-display;
			display: block;
			@media (prefers-color-scheme: light){
				color: var(--color-foreground);
			}
			span{
				color: var(--color-accent-alt);
			}
		}
		&__sub{
			display: block;
			@extend %text-medium;
		}
	}
}
.foot_section{
	height: auto;
	&__inner{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
		@media print{
			padding-top: 1em;
			gap: .8em;
		}
		.intro{
			@extend %text-std;
			padding-top: 3rem;
			display: flex;
			flex-direction: column;
			gap: 1em;
			width: 100%;
			@include break(tablet){
				padding-right: calc(8vw + 8rem);
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-between;
			}
			.intro_main{
				max-width: unset;
				margin-bottom: 0;
				flex-shrink: 1;
				padding-right: calc(8vw + 8rem);
				@include break(tablet){
					padding-right: unset;
				}
			}
			a{
				@extend %text-link;
				font-size: inherit;
				white-space: nowrap;
				@media print{
					display: none;
				}
			}
		}
		.contacts{
			flex-shrink: 1;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem 2rem;
			flex-direction: row;
			position: relative;
			&:first-of-type{
				padding-left: 0;
				border-left: 0;
			}
			@include break(tablet){
				flex-direction: column;
			}
			@include break(desktop){
				flex-direction: row;
			}
		}
	}
}
