@use "@/app/assets/styles/all-vars" as *;

.hero{
	position: relative;
	background-color: var(--color-bg);
	padding-bottom: 10vw;
}

.main_section{
	position: relative;
	background-image: url("/assets/images/texture-dark.jpg");
	:global(body.light-mode) &{
		background-image: url("/assets/images/texture-light.jpg");
	}
	background-size: auto;
	background-repeat: repeat;
	z-index: 1;
	&__inner{
		position: relative;
		display: flex;
		justify-content: space-between;
		@include break(tablet){
			align-items: center;
		}
	}
}
.foot_section{
	&__inner{
		padding-top: calc(3rem + 60px);
		padding-bottom: 3rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		width: 100%;
		align-items: flex-start;
		@include break(mobile){
			padding-top: 0;
			padding-top: 2rem;
		}
		p{
			margin-bottom: 0;
		}
		.intro{
			display: flex;
			flex-direction: row;
			column-gap: .5em;
			flex-wrap: wrap;
			@include break(mobile){
				padding-right: calc(120px + 2rem);
			}
			a{
				@extend %text-link;
				font-size: inherit;
			}
		}
		.clients{
			margin-top: 2rem;
			border-top: 1px solid var(--color-feint-line);
			padding-top: 2rem;
		}
	}
}
.message{
	margin-bottom: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: $block-spacing--deep;
	padding-bottom: $block-spacing--deep;
}

.message__main{
	@extend %text-display;
	display: block;
	@media (prefers-color-scheme: light){
		color: var(--color-foreground)-light;
	}
	span{
		color: var(--color-accent-alt);
	}

}
.message__sub{
	display: block;
	@extend %text-medium;
}
.side_furniture{
	position: relative;
	@include break(tablet){
		right: calc(8vw - 5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		padding-top: 4rem;
		padding-bottom: 12rem;
		width: 10px;
	}
	&__dots{
		flex-grow: 1;
		display: none;
		@include break(tablet){
			display: block;
		}
	}
	&__tick{
		position: relative;
		height: 55px;
		width: 10px;
		display: none;
		@include break(tablet){
			display: block;
		}
		svg{
			position: absolute;
			width: 70px;
			height: 55px;
			top: 0;
			left: 12px;
			transform: translateX(-50%);
			path, clipPath, rect{
				fill: var(--color-accent-alt);
			}
		}
	}
	&__profile{
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(50%);
		@include break(tablet){
			transform: translateY(0);
			position: absolute;
			bottom: -8rem;
			right: 0;
			height: 16rem;
			width: 10px;
		}
		svg{
			width: 12rem;
			height: 12rem;
			fill: var(--color-accent);
			@include break(tablet){
				width: 16rem;
				height: 16rem;
				position: absolute;
				left: 12px;
				top: -4px;
				transform: translateX(-50%);
			}
		}
	}
}

.shapes{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	div{
		position: absolute;
		&:nth-of-type(1){
			width: auto;
			height: 515px;
			aspect-ratio: 1/1;
			background-color: var(--color-accent-alt);
			opacity: .3;
			border-radius: 50%;
			top: 0;
			left: 0;
			filter: blur(256px);
			mix-blend-mode: color-dodge;
		}
		&:nth-of-type(2){
			width: 80vw;
			height: auto;
			aspect-ratio: 1/1;
			background-color: var(--color-accent);
			opacity: .05;
			border-radius: 50%;
			top: 0;
			right: -20vw;
			mix-blend-mode: color-dodge;
		}
		&:nth-of-type(3){
			width: auto;
			height: 200%;
			aspect-ratio: 1/1;
			opacity: .2;
			border-radius: 50%;
			transform:translate(50%, -25%);
			top: 0;
			right: 25vw;
			mix-blend-mode: color-dodge;
			border: .5px solid var(--color-accent);
		}
	}
}