@use "@/app/assets/styles/all-vars" as *;

.section{
	padding-bottom: 12rem;
	margin-bottom: 12rem;
	min-height: calc(100vh - 24rem);
	&_no_spacing{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	&_line{
		border-bottom: .5px solid var(--color--accent-50);
	}
	&_no_min_height{
		min-height: unset;
	}
}