@use "@/app/assets/styles/style-library/all-vars" as vars;

$spacingunit: clamp(4rem, 8vw, 28rem);

.section{
	padding-bottom: $spacingunit;
	margin-bottom: $spacingunit;
	&_no_spacing{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	&_line{
		border-bottom: .5px solid var(--color--accent-50);
	}
}