@use "@/app/assets/styles/style-library/all-vars" as vars;
@mixin headerlinkDefaults{
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 1;
	@extend %text-blocky;
	font-size: 1.6rem;
	text-decoration: none;
	&:hover{
		color: var(--color-foreground);
	}
}
.header{
	z-index: 2;
	position: relative;
	background-color: var(--color-bg-solid);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, var(--color-accent), var(--color-accent-alt)) 1;
	&__inner{
		display: flex;
		flex-direction: column;
		padding-top: 1em;
		padding-bottom: 1em;
		@include vars.break(tablet){
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
		}
	}
	&__sitename{
		all: unset;
		&__link{
			@include headerlinkDefaults;
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: .5em;
			span{
				display: block;
				line-height: 1;
			}
		}
	}
	&__nav{
		display: flex;
		gap: 1em;
		a{
			@include headerlinkDefaults;
			display: flex;
			align-items: center;
			gap: .5em;
			svg{
				transform: rotate(180deg);
				fill: currentColor;
			}
		}
	}
}
