@use "@/app/assets/styles/style-library/all-vars" as vars;

%headerlinkDefaults{
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	@extend %text-blocky;
	font-size: 1.6rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	@include vars.break(mobile){
		line-height: 2;
	}
	&:hover{
		color: var(--color-foreground);
	}
}

.header{
	z-index: 2;
	position: relative;
	background-color: var(--color-bg-solid);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, var(--color-accent), var(--color-accent-alt)) 1;
	&__inner{
		display: flex;
		flex-direction: column;
		@include vars.break(tablet){
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
		}
	}
	&__sitename{
		all: unset;
		padding-left: vars.$gutter-padding;
		padding-right: vars.$gutter-padding;
		padding-top: .5em;
		@include vars.break(tablet){
			padding-top: 1em;
			border: none;
		}
		&__link{
			@extend %headerlinkDefaults;
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0 .5em;
			color: var(--color-accent-alt);
			span{
				display: block;
			}
		}
	}
	&__nav{
		gap: 0 1em;
		padding-left: vars.$gutter-padding;
		padding-right: vars.$gutter-padding;
		padding-bottom: .5em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@include vars.break(tablet){
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: unset;
			padding-right: unset;
		}
		&__link{
			@extend %headerlinkDefaults;
			gap: .5em;
			span{
				display: block;
			}
			@mixin svgDefaults{
				fill: currentColor;
			}
			.arrow{
				@include svgDefaults;
				transform: rotate(180deg);
			}
			.arrow____reverse{
				@include svgDefaults;
			}
		}
	}
}
