@use '@/app/ui/style-library/global/all-vars' as vars;

.copyText {
	display: inline-block;
	position: relative;
	button {
		color: var(--color-accent);
		margin-bottom: 0;
		gap: 0.4em;
		align-items: center;
		display: inline-flex;
		@include vars.text-link-defaults;
		svg {
			width: 10px;
		}
	}
	&__popupMessage {
		color: white;
		background: black;
		@include vars.text-miniscule;
		text-transform: uppercase;
		position: absolute;
		right: -0.5em;
		padding: 0.1em 0.5em 0.2em;
		border-radius: 2px;
		display: inline-block;
		top: 50%;
		transform: translate(100%, -50%);
	}
}
