@use "@/app/assets/styles/all-vars" as *;

.text_block{
	position: relative;
	background-size: auto;
	background-repeat: repeat;
	background-image: url("/assets/images/texture-dark.jpg");
	border-top: .5px solid var(--color-accent);
	border-bottom: .5px solid var(--color-accent-alt);
	:global(body.light-mode) &{
		background-image: url("/assets/images/texture-light.jpg");
	}
	&__inner{
		position: relative;
		z-index: 1;
	}
	&__blockquote{
		margin-block-start: unset;
		margin-block-end: unset;
		padding-top: clamp(6rem, 10.5vw, 14rem);
		padding-bottom: clamp(6rem, 10.5vw, 14rem);
		display: block;
		@extend %text-display-small;
		text-align: center;
    	margin: 0 auto;
		color: var(--color-foreground);
		text-shadow:unset;
		p{
			position: relative;
			margin-bottom: 0;
			color: transparent;
			background: linear-gradient(180deg, white 75%, var(--color-accent) 100% );
			background-clip: text;
    		-webkit-background-clip: text;
		}
		:global(body.light-mode) &{
			color: var(--color-foreground-alt);
			text-shadow: 0 .01em .5em rgba(255,255,255,1);
		}
		max-width: 80vw;
		@include break(tablet){
			max-width: 60vw;
		}
	}
}