@use "@/app/assets/styles/style-library/all-vars" as vars;

.header{
	z-index: 2;
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	&__inner{
		display: flex;
		align-items: center;
		gap: 1rem;
		position: relative;
	}
	&__sitename{
		flex-shrink: 0;
		> *{
			margin: 0;
			padding: 0;
			position: relative;
			@extend %text-blocky;
			font-size: 1.6rem!important;
			display: block;
			line-height: 2;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__line{
		width: 100%;
		position: relative;
		hr{
			border: 0;
			margin: 0;
			padding: 0;
			height: 1px;
			background-color: var(--color-accent-alt);
		}
		svg{
			display: none;
			position: absolute;
			width: 25px;
			height: 25px;
			top: 1px;
			fill: var(--color-accent-alt);
			position: absolute;
			transform: translate(25%, -50%);
			@include vars.break(tablet){
				display: block;
				transform: translate(50%, -50%);
				right: 10rem;
			}
		}
	}
}
