@use "@/app/assets/styles/style-library/all-vars" as vars;

@mixin floating-nav-text-style{
	@include vars.text-tiny;
}

.floatingNav{
	position: fixed;
	right: vars.$gutter-padding;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	z-index: 10;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	gap: 0;
	overflow: hidden;
	width: auto;
	padding-left: .5rem;
	padding-right: .5rem;
	border-bottom: 0;
	@include vars.break(tablet){
		right: 4rem;
		gap: 1rem;
		flex-direction: row;
		justify-content: flex-end;
		max-width: calc(100vw - (vars.$gutter-padding * 2));
	}
	&__backTop{
		margin-bottom: 0;
		display: flex;
		align-items: center;
		svg{
			height: 4rem;
			width: 4rem;
		}
	}
	&__nav{
		display: none;
		@include vars.break(tablet){
			display: block;
			text-align: end;
			text-wrap: balance;
		}
		a{
			@include floating-nav-text-style;
			padding: .3em .3em;
			text-decoration: none;
			color: var(--color-accent);
			border-bottom: 2px solid transparent;
			@include vars.break(tablet){
				display: inline-flex;
				align-items: center;
				margin-left: .2em;
				margin-right: .2em;
				height: calc(100% - 2px);
			}
			&:hover{
				color: var(--color-foreground);
			}
			&:focus-visible{
				color: var(--color-foreground);
			}
			&:global(.active){
				border-color: var(--color-accent);
				text-decoration: none;
			}
		}
	}
}
