@use "../../../assets/styles/style-library/all-vars" as vars;


.floatingNav{
	@mixin text-style{
		@extend %text-blocky;
		font-size: vars.$font-size-tiny;
	}
	position: fixed;
	right: 2rem;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	z-index: 10;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	gap: 0;
	overflow: hidden;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	@include vars.break(tablet){
		right: 4rem;
		gap: 1rem;
		flex-direction: row;
		justify-content: flex-end;
		width: calc(100vw - 8rem);
	}
	margin-bottom: 0;
	border: 1px solid var(--color-accent);
	&:hover, &:focus{
		border-width: .5px;
		border-color: var(--color-foreground);
	}
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	&__backTop{
		margin-bottom: 0;
		display: flex;
		align-items: center;
		svg{
			height: 4rem;
			width: 4rem;
		}
		&::after{
			content: 'Back to top';
			padding: .3em;
			text-decoration: none;
			@include text-style;
			@include vars.break(tablet){
				content: '';
				display: none;
			}
		}
	}
	&__nav{
		flex-direction: column;
		gap: 0;
		display: none;
		padding: 1rem;
		@include vars.break(tablet){
			padding: .5rem;
			display: flex;
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: row;
			gap: 0 .5rem;
		}
		a{
			@include text-style;
			padding: .5em .3em;
			text-decoration: none;
			line-height: 1;
			text-align: center;
			@include vars.break(tablet){
				padding: .7em .3em;
			}
			&:hover{
				text-decoration: underline;
			}
			color: var(--color-accent-60);
			&:global(.active){
				color: var(--color-foreground);
			}
		}
	}
}
