@use "../../../assets/styles/all-vars" as *;

.section_head{
	position: relative;
	width: 100%;
	padding-bottom: $block-spacing--shallow;
}
.separator{
	border-top: 1px solid var(--color-accent);
	width: 100%;
	position: relative;
	svg{
		display: block;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 2vw;
		top: 0;
		fill: var(--color-accent);
		position: absolute;
		transform: translate(0, -50%);
	}
}
.title{
	margin: 0;
	padding-left: calc(2vw + 1.1em);
	padding-top: 1.5rem;
	@include text-heading;
	color: var(--color-accent);
}
:global(body.dark-mode) .title {
	color: var(--color-foreground);
}

.title__no_separator{
	margin: 0;
	@include text-heading;
}