@use "../../../assets/styles/all-vars" as *;

.section_head{
	position: relative;
	width: 100%;
	padding-top: $block-spacing--shallow;
	padding-bottom: $block-spacing--deep;
}
.separator{
	border-top: 1px solid $color-accent;
	width: 100%;
	position: relative;
	svg{
		display: block;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 3vw;
		top: 0;
		fill: $color-accent;
		position: absolute;
		transform: translate(0, -50%);
	}
}
.title{
	margin: 0;
	padding-left: calc(3vw + .8em);
	padding-top: 1.5rem;
	@include text-heading;
}
.title__no_separator{
	margin: 0;
	@include text-heading;
}