@use "@/app/assets/styles/all-vars" as *;

.header{
	background-color: var(--color-bg);
	z-index: 2;
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
}
.inner{
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}
.sitename{
	margin: 0;
	padding: 0;
	line-height: 1;
	position: relative;
	@extend %text-blocky-bold;
	font-size: 1.6rem;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: .2em;
	@include break(mobile){
		flex-direction: row;
	}
	@include break(tablet){
		flex-shrink: 0;
		gap: .5em;
	}
	span{
		flex-shrink: 0;
	}
	span.name{
		color: var(--color-accent);
	}
}
.line{
	width: 100%;
	position: relative;
	hr{
		border: 0;
		margin: 0;
		padding: 0;
		height: 1px;
		background-color: var(--color-accent);
	}
	svg{
		display: none;
		position: absolute;
		width: 25px;
		height: 25px;
		top: 1px;
		fill: var(--color-accent);
		position: absolute;
		transform: translate(25%, -50%);
		@include break(tablet){
			display: block;
			right: 60px;
		}
		@include break(tablet){
			transform: translate(50%, -50%);
			right: calc(8vw - 5px);
		}
	}
}

.dm_switcher{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: var(--color-bg);
	svg{
		width: 18px;
		height: 18px;
	}
}