@use "@/app/assets/styles/all-vars" as *;

.vertical_dots{
	display: flex;
	flex-direction: column;
	gap: 4rem;
	.dot{
		width: 10px;
		height: 10px;
		fill: var(--color-accent);
		position: relative;
		transform: translateX(50%);
	}
}