@use "@/app/assets/styles/style-library/all-vars" as *;

.vertical_dots{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	.dot{
		width: 10px;
		height: 10px;
		fill: var(--color-accent);
		position: relative;
		transform: translateX(50%);
	}
}