@use '@/app/assets/styles/style-library/all-vars' as vars;

.articleMain {
	display: block;
	margin-top: var(--block-spacing);
	background-color: var(--color-bg-alt-70);
	&__body {
		@include vars.text-editorial;
		figure {
			margin-bottom: var(--block-spacing--text);
		}
		& > figure:first-child {
			top: calc(-4 * var(--block-spacing--text));
			margin-bottom: 0;
		}
	}
}
