@use "@/app/assets/styles/style-library/all-vars" as vars;

.articleMain{
	display: block;
	margin-top: vars.$block-spacing;
	&__body{
		@extend %text-editorial;
		img{
			box-shadow: 0 8px 12px 4px rgba($color: #000000, $alpha: .2);
			position: relative;
			display: block;
			margin-bottom: vars.$block-spacing--text;
			border-radius: 2px;
		}
		img:has(+ em) {
			position: relative;
			margin-bottom: 0;
		}
		& > img:first-child {
			top: calc(-4 * #{vars.$block-spacing--text});
			margin-bottom: 0;
		}
		img.extended{
			@include vars.break(desktop){
				width: 60dvw;
				max-width: 60dvw;
				height: auto;
				margin-inline: calc(50% - 30dvw);
			}
		}
	}
}