@use "@/app/assets/styles/style-library/all-vars" as vars;

.articleMain{
	display: block;
	margin-top: vars.$block-spacing;
	&__body{
		@extend %text-editorial;
		figure{
			margin-bottom: vars.$block-spacing--text;
		}
		& > figure:first-child {
			top: calc(-4 * #{vars.$block-spacing--text});
			margin-bottom: 0;
		}
	}
}