@use "@/app/assets/styles/all-vars" as *;

$gap: clamp(.8rem, 2vw, 1.2rem);

.work_samples{
	position: relative;
	background-image: url("/assets/images/texture-dark.jpg");
	border-top: .5px solid var(--color-accent);
	:global(body.light-mode) &{
		background-image: url("/assets/images/texture-light.jpg");
	}
	@media print{
		display: none;
	}
}

.title_section{
	position: relative;
	border-radius: 6px;
	padding: .6em 1em;
	border-radius: 2px;
	text-align: center;
	z-index: 1;
	h2{
		margin-bottom: 0;
		text-align: center;
		display: inline-block;
		@extend %text-display-small;
		padding-top: 2em;
		padding-bottom: 1em;
	}
}

.main{
	width: 100%;
	position: relative;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: $gap;
	z-index: 1;
	overflow-x: hidden;
}

.strip{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $gap;
	position: relative;
	user-select: none;
	width: 100vw;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.browser_desktop, .browser_mobile{
	position: relative;	height: 100%;
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
	:global(body.light-mode) &{
		box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
	}
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	width: auto;
	min-height: 16rem;
	max-height: 20rem;
	svg{
		height: 100%;
		width: 100%;
	}
}

.browser_desktop{
	aspect-ratio: 40/28;
}
.browser_mobile{
	aspect-ratio: 14.2/28;
}