@use "@/app/assets/styles/style-library/all-vars" as vars;

.horizontalList{
	margin-bottom: 4rem;
	&__heading{
		@extend %text-blocky;
		padding-bottom: .6em;
	}
	ul{
		display: inline-flex;
		gap: .3em;
		flex-wrap: wrap;
		width: 100%;
		flex-direction: column;
		margin-bottom: 0;
		@include vars.break(tablet){
			flex-direction: row;
			align-items: center;
		}
		li{
			margin-bottom: 0;
			list-style-type: none;
			max-width: vars.$content-width;
			margin-bottom: 0 !important;
			padding-bottom: 0.3em;
			list-style: none;
			position: relative;
			@include vars.break-under(tablet){
				padding-left: 1em;
			}
			&::before{
				@include vars.break-under(tablet){
					position: absolute;
					content: "◆";
					font-size: .8em;
					color: var(--color-accent-alt);
					left: -.2em;
					top: .3em;
				}
			}
			p{
				margin-bottom: 0;
			}
			@include vars.break(tablet){
				display: flex;
				align-items: center;
				gap: .3em;
				flex-direction: row;
				margin-bottom: .6rem!important;
				&::after{
					content: '';
					display: block;
					flex-grow: 1;
					height: 1px;
					width: 4rem;
					background-color: var(--color-accent-alt);
					position: relative;
					top: 2px;
				}
			}
			a{
				display: inline-block;
			}
			
			&:last-of-type{
				&::after{
					display: none;
				}
			}
		}
	}
}