@use "@/app/assets/styles/style-library/all-vars" as vars;

@mixin floating-nav-text-style{
	@extend %text-blocky;
	font-size: vars.$font-size-tiny;
}

.floatingBackTop{
	position: fixed;
	right: vars.$gutter-padding;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	z-index: 10;
	background-color: var(--color-bg);
	border: 1px solid var(--color-accent);
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	&:hover, &:focus{
		border-width: .5px;
		border-color: var(--color-foreground);
	}
	&__backTop{
		margin-bottom: 0;
		display: flex;
		align-items: center;
		svg{
			height: 4rem;
			width: 4rem;
		}
		&::after{
			content: 'Back to top';
			padding: .3em;
			text-decoration: none;
			@include floating-nav-text-style;
			@include vars.break(tablet){
				content: '';
				display: none;
			}
		}
	}
}
